*{
  font-family:  Roboto, Arial, sans-serif;
  text-decoration: none;
  font-weight: bold;
  color: white;
  letter-spacing: 0.5px;
  

}


nav{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #333;
  margin: 0px 0px 20px 0px;
  padding: 1px;
  box-shadow: 0px 0px 8px #060128;
  

  
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center; 
justify-content: center

}
.flex{
  flex: 1 1 auto;
}
.nowrap{
  flex-wrap: nowrap;

}
.wrap{
  flex-wrap: wrap;

}
.column{
  display: flex;
  flex-direction: column;
  text-align: center;
}

#root{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;

  padding: 0px;

}
body{
  margin: 0px;
  background-image: url('https://svgsilh.com/svg/307294.svg');
  background-position: 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#logoHenry {
  margin-right: 20px;
}

.titulo{
  font-style: italic;
  text-shadow: 0px 0px 3px #060128;
  box-shadow: 0px 1px 2px #060128;
}


.form{
  flex: 1 1 auto;
  margin: 10px 20px 10px 20px ;

}

.btn{
  color: #333;
  font-weight: bold;

  background-color: #eee;

  border: none;
  /* border-left: 1px solid #3012f8; */
  border-radius:  5px 5px 5px 5px;

  margin: 2px;
  padding: 5px 8px 5px 8px;

  box-shadow: 0px 0px 0px #060128 inset, 5px 5px 5px #060128;

  transition: all 500ms;

}

.btn:hover,
.btn:disabled{
  box-shadow: 0px 0px 3px #060128 inset, 0px 0px 5px #060128;
}
.btn:focus{
  border: none;
  outline: none;

}
.btn:focus-visible{
  outline: none;
}


.input{
  background-color: white;
  color: #333;
  
  border: none;
  border-radius: 5px 5px 5px 5px;

  padding: 5px 8px 5px 8px;
  box-shadow: 0px 0px 3px #060128 inset, 0px 0px 5px #060128;

  /* box-shadow: 0px 0px 0px #060128 inset, 5px 5px 5px #060128; */
margin: 5px;
  transition: all 400ms;
}



.input:focus{
  border: none;
  outline: none;
  box-shadow: 0px 0px 3px #060128 inset, 0px 0px 3px #060128;
}
.input:focus-visible{
  outline: none;
}




.divCars{
  display: flex;
  flex-direction: row;
  text-align: center;
  /* align-items: center;  */
flex-wrap: wrap;
justify-content: space-evenly;
}
.subCard{
  margin: 10px;
  padding: 8px;
  border-radius: 5px;

  box-shadow: 0px 0px 8px #ccc;
}
.divCard{
    
  display: flex;

  flex-direction: column;

  width: 25%;
  min-width: 150px;
  height: auto;
  align-self: center;

  margin: 10px;
  padding: 8px;

  /* border: 1px solid #ccc; */

  border-radius: 5px;

  box-shadow: 0px 0px 8px #ccc;
  color: #333;
}
.cardDivBtn{
  display: grid;
  justify-content: flex-end;
}
.cardBtn{
  /* display: block; */
  color: #343a40;


  font-family:  Verdana, sans-serif;
  font-size: small;
  font-weight: bold;

  background-color: white;
  height: 25px;
  width: 25px;
  border: none;
  border-radius: 15px 15px 15px 15px;

  box-shadow: 0px 0px 0px #343a40 inset, 0px 0px 3px #343a40;


  transition:  all 400ms;

}

.cardBtn:hover{
  box-shadow: 0px 0px 3px #343a40 inset, 0px 0px 3px #343a40;
}

.cardBtn:focus{
  border: none;
  outline: none;

}
.cardBtn:focus-visible{
  outline: none;
}

.cardImg{
  background-color: rgb(221, 220, 220);
  /* border: 1px solid #343a40; */

  border-radius: 5px;

  /* box-shadow:  0px 0px 0px #555, 1px 1px 0px #555, 2px 2px 0px #555, 3px 3px 0px #555, 4px 4px 0px #555, 5px 5px 0px #555; */

  transition: all 500ms;
  width: 100%;

}

/* .cardImg:hover{
  box-shadow: 1px 1px 0px #555, 2px 2px 1px #555;
} */

.span1{
  font-size: x-small;
}

.span2{
  font-size: x-large;
  font-weight: bolder;
}
.listDiv{
  height: 70vh;
  min-width: 250px;
  max-width: 40%;
  overflow: scroll;
}

option{
  color: #999;
}

.spin{
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 10px;
  padding: 8px;

  border: 10px solid rgba(97, 97, 97, 0.2);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-left-color: #333;

  animation: rotacionZ 1s ease infinite;
}

@keyframes rotacionZ {
  0%{
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
  
}
.logo {
  
  /* height: 40px;
  width: 40px; */
  border-radius: 5px;
  /* padding: 8px; */
  padding: 5px 8px 5px 8px;
  box-shadow: 0px 0px 8px #ccc;
  margin: 5px;
  margin-left: 10px;
}

.pag{
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #333;
  margin: 20px 0px 0px 0px;
  padding: 20px;
  box-shadow: 0px 0px 8px #060128;
}

/* .App {
  text-align: center;
}
footer


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


} */
